In [4]:
import pandas as pd

Replace the CSV below with a cleaned and fuzzed CSV file as needed:

In [5]:
df = pd.read_csv("../CSEG Tech - Heat Seek Data Visualization/data/heatseek_geocoded_severity.csv")

### Don't run the below code cells if there's a cleaned CSV already:
I'm guessing we only need user_id, temp, created_at, outdoor_temp, violation, lat, lon so that's what I filtered for here.

In [6]:
df.head()

,user_id,address,zip_code,apartment,sensor_id,bbl,temp,created_at,outdoor_temp,violation,add_full,lat,lon,severity
0,381.0,124 E 176th St,10453.0,6J,feather0090,2.028260e+09,66,2019-01-30 18:58:43-05:00,11.0,True,"124 E 176th St, New York City, New York, USA",40.847928,-73.908931,2
1,390.0,1802 Ocean Parkway,11223.0,C4,feather0101,3.066810e+09,69,2019-01-30 18:58:19-05:00,14.0,False,"1802 Ocean Parkway, New York City, New York, USA",40.604475,-73.967530,0
2,492.0,341 E 19th St,11226.0,3E,feather0118,3.051620e+09,68,2019-01-30 18:54:54-05:00,13.0,False,"341 E 19th St, New York City, New York, USA",40.735065,-73.981193,0
3,389.0,4836 41st St,11104.0,2F,feather0024,4.002020e+09,50,2019-01-30 18:50:40-05:00,16.0,True,"4836 41st St, New York City, New York, USA",40.738850,-73.924581,18
4,167.0,150 Court St,11201.0,NaN,feather0115,3.002920e+09,69,2019-01-30 18:50:16-05:00,14.0,False,"150 Court St, New York City, New York, USA",40.688979,-73.992963,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135262 entries, 0 to 135261
Data columns (total 14 columns):
user_id         135200 non-null float64
address         135200 non-null object
zip_code        135200 non-null float64
apartment       125657 non-null object
sensor_id       135262 non-null object
bbl             82913 non-null float64
temp            135262 non-null int64
created_at      135262 non-null object
outdoor_temp    134257 non-null float64
violation       135262 non-null bool
add_full        135262 non-null object
lat             135262 non-null float64
lon             135262 non-null float64
severity        135262 non-null int64
dtypes: bool(1), float64(6), int64(2), object(5)
memory usage: 13.5+ MB

In [8]:
df = df.filter(['user_id', 'temp', 'created_at', 'outdoor_temp', 'violation', 'lat', 'lon', 'severity'])

### Turn dataframe to JSON
Edit orient option as necessary: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html

In [10]:
df.to_json("../CSEG Tech - Heat Seek Data Visualization/data/map-data-severity.json", orient='records')